<nav>
  <ul>
    <li><button (click)="mostrarMenu('herramientas')">HERRAMIENTAS</button></li>
    <li><button (click)="mostrarMenu('medicion')">MEDICIÓN Y NIVELACIÓN</button></li>
    <li><button (click)="mostrarMenu('proteccion')">SEGURIDAD Y PROTECCIÓN</button></li>
    <li><button (click)="mostrarMenu('suministros')">SUMINISTROS</button></li>
    <li><button (click)="mostrarMenu('usuarios')">USUARIO</button></li>
    <li><button (click)="mostrarMenu('contactos')">CONTACTO</button></li>
  </ul>
</nav>
